//
// Variables
// --------------------------------------------------


// Colours
// --------------------------------------------------

$white:             #FFFFFF;

// Grays
$gray:              #444444;
$gray-md:           #999999;
$gray-light:        #CCCCCC;
$gray-darker:       #222222;

// Greys
$grey:              $gray;
$grey-md:           $gray-md;
$grey-light:        $gray-light;
$grey-darker:       $gray-darker;

$brand-primary:     $gray;


// Typography
// --------------------------------------------------

$font-size-base:            14px;

$font-size-sm:              12px;
$font-size-md:              18px;
$font-size-lg:              20px;
$font-size-xl:              25px;
$font-size-jumbo:           60px;

$font-weight-thin:          100;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-extrabold:     800;
$font-weight-black:         900;


// Spacing
// --------------------------------------------------

$padding-sm:        30px;
$padding-md:        60px;
$padding-lg:        120px;
$padding-xl:        180px;

$jumbotron-padding: 10px;